body {
	background: #1EB0D7;
}
h1 {
	font-size: 20px;
	color: #ffffff; 
    font-family: Tahoma;  
}
h2 {
	font-size: 18px;
	color: #000000; 
    font-family: Tahoma;  
}
.limpiar {
	overflow: hidden;
}
/*COLORES PARA EL MENU*/
table.indice{
	background: rgba(211,204,255,.2);
	box-shadow: -10px 10px 30px #000; 
	padding: 15px 15px;
}
a {
	text-decoration: none;/*para quitar el subrayado de los enlaces*/
	color: #000000; /*negro de la letra*/
	font-family: Times New Roman;
	font-size: 12pt;
	font-weight: bold;
}
a:hover {
	background:  #191970;
	color: white;
	text-decoration: underline;
	box-shadow: -2px 2px 5px #000; /*para la sombra de la cajita*/
	font-family: Tahoma;
}

.reportes body {
	background: #000000;
}

.listado table {
	width:auto;
    border: 1px solid #000000;
}
.listado th {
	font-size: 16px;	
	color: #FFFFFF;
	background: #191970;
	border: 1px solid #000000;

}
.listado td {
	font-size: 14px;
    /*background-image: url(../fondo_ver.gif);*/
	border: 1px solid #000000;
	
}

#header {
  margin:auto;
  width:3000px;
  font-family:Arial, Helvetica, sans-serif;
}

ul, ol {
  list-style:none;
}
			
.nav > li {
  float:left;
}
			
.nav li a {
  background-color:#000;
  color:#fff;
  text-decoration:none;
  padding:10px 12px;
  display:block;
}
			
.nav li a:hover {
  background-color:#434343;
}
		
.nav li ul {
  display:none;
  position:absolute;
  min-width:140px;
}
			
.nav li:hover > ul {
  display:block;
}
			
.nav li ul li {
  position:relative;
}
			
.nav li ul li ul {
  right:-140px;
  top:0px;
}

          
   